################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreSoln/.vs/BookStoreSoln/v16
/BookStoreSoln/BookStoreApplication/obj
